:root {
  --Verydarkcyan: hsl(183, 100%, 15%);
  --Darkgrayishcyan: hsl(186, 14%, 43%);
  --Darkgrayishcyan: hsl(184, 14%, 56%);
  --Lightgrayishcyan: hsl(185, 41%, 84%);
  --Lightgrayishcyan: hsl(189, 41%, 97%);
  --White: hsl(0, 0%, 100%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

body {
  background-color: var(--Darkgrayishcyan);
}

.btn {
  margin: 15px;
  height: 50px;
  width: 80px;
  border-radius: 10%;
  background-color: var(--Verydarkcyan);
}

.right {
  background-color: var(--Verydarkcyan);
  border-radius: 10px;
  margin: 3rem 0;
  height: 300px;
  width: 300px;
}

p {
  margin-left: 3rem;
}

h2 {
  margin-left: 3rem;
}

.left {
  margin-top: 4rem;
  margin-left: 4rem;
}

.container {
  display: flex;
  background-color: var(--White);
  border-radius: 10px;
  height: 400px;
  width: 800px;
  margin: 0 auto;
}